{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:testing-library/recommended",
    "plugin:jest-dom/recommended",
    "prettier",
    "prettier/react"
  ],
  "plugins": ["testing-library"],
  "globals": {
    "window": true,
    "document": true,
    "fetch": true
  },
  "env": {
    "jest": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["./src"],
        "extensions": [".js"]
      }
    }
  },
  "rules": {
    "react/jsx-filename-extension": 0,
    "import/no-unresolved": 0,
    "react/jsx-props-no-spreading": 0,
    "import/prefer-default-export": 0,
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }]
  }
}
